extends layouts/main-layout.pug
block styles
    link(rel="stylesheet", href="/css/404.css")
block content
    header.top-header 
    div 
        div.starsec
        div.starthird
        div.starfourth
        div.starfifth
    div.lamp__wrap
        div.lamp
            div.cable
            div.cover
            div.in-cover
                div.bulb
            div.light
    section.error
        div.error__content
            div.error__message.message
                h1.message__title Page Not Found
                p.message__text We're sorry, the page you were looking for isn't found here. The link you followed may either be broken or no longer exists. Please try again, or take a look at our.
            div.error__nav.e-nav
                a.e-nav__link(href = "https://codepen.io/uiswarup/pen/qBebRpq" , target = "_blank")
